#watch{
    display: flex;
    justify-content: space-around;
    .left-side{
        margin-left: 400px;
        h2{
            font-size: 60px;
        }
        p{
            font-size: 18px;
            width: 50%;
            color: gray;
            margin-top: 40px;
        }
        button{
            width: 170px;
            height: 50px;
            background-color: red;
            color: white;
            border-style: none;
            margin-top: 40px;
        }
        button:hover{
            background-color: gray;
            transition: 0.3s;
        }
    }
    .right-side{
       img{
        margin-right: 500px;
        min-width: 450px;
       }
    }
}